@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" 
     asp-prerender-module="ClientApp/dist/main-server"
     asp-prerender-timeout="60000"
     asp-prerender-data="new { cookies = ViewContext.HttpContext.Request.Cookies }">Loading...</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
